[Unit]
Description=uWSGI instance to serve LifeLine
After=network.target postgresql-14.service

[Service]
User=root
Group=nginx
WorkingDirectory=/opt/LifeLine
Environment="PATH=/opt/LifeLine/venv/bin"
ExecStart=/opt/LifeLine/venv/bin/uwsgi --ini /opt/LifeLine/uwsgi/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target